body,html{
     
    background:url(../img/fondoC.png);
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
 	
}


.espacio{
	padding: 15%;
   animation:  fron-w 10s infinite ;
	transform: translateY(10%);
	
}
.participantes{
	background: #fff;
	border: 2px ;
    border-radius: 10px;


}
.informacion{
	background: #fff;
	border: 2px ;
    border-radius: 10px;
	
}
.despues{
	background: #fff;
	animation:  fron-s 3s ;
	border: 2px ;
    border-radius: 10px;
}

.img-infor{
	
}
.img-despues{

}