.img{
	width: 100%; height: 100%;
}


.titulo{
	border-bottom: solid rgba(0,0,0,.3);
}

.titulo2{
	background: rgb(53, 153, 191);
	width: 101%;
 	padding: 1%;
 	margin-bottom: 2%;
 	color: white;
	 
}
.participantes{
	background: #fff;
}

.datos{
	background: #fff;
	padding: 2%;
	margin-bottom: 2%;
}

.calificacion{
	background: #fff;
	padding: 2%;
	margin-bottom: 2%;
}

.exito{
	background: #fff;
	margin-top: 30%;
	padding-bottom: 20px;
}

footer {
  background-color: #242729;
  
  bottom: 0;
  width: 101%;
  padding: 2%;
  color: white;
}
.color{

	margin-bottom: 2%;
}